.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

form input[type="search"] {
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid #4654e1;
  padding: 2px;
  background-color: white; /* Ajoutez cette ligne pour définir le fond en blanc */
}

form input[type="search"]:focus {
  border: 2px solid #4654e1;
}
