h1 {
    text-align: center;
  }


  .search-bar input {
    padding: 5px;
    margin-right: 10px;
  }
  
  body {
    background-image: url('/assets/img/background/lolbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Ajoutez cette ligne pour définir une hauteur minimale égale à 100% de la vue du port */
    margin: 0; /* Ajoutez cette ligne pour supprimer les marges par défaut */
    padding: 0; /* Ajoutez cette ligne pour supprimer les rembourrages par défaut */
    overflow-x: hidden;
  
  background-attachment: fixed;
  }


  

  



  
  .champion-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .champion-card {
    text-align: center;
    margin: 10px;
  }
  
  .champion-card img {
    width: 200px;
    height: 200px;
  }
  
  .champion-card h3 {
    margin-top: 10px;
  }
  .center-title {
    text-align: center;
  }