<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Vos balises meta, lien vers les feuilles de style, etc. -->
</head>

<body>
  <nav class="blue darken-3" style="position: sticky; top: 0; z-index: 100;">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo center">League of Legends</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/accueil">Accueil</a></li>
        <li><a routerLink="/champions">Champions</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

    <router-outlet></router-outlet>
  </div>
  <script src="runtime.js"></script>
  <script src="polyfills.js"></script>
  <script src="vendor.js"></script>
  <script src="main.js"></script>
</body>
</html>
