<button  class="btn btn-warning stickybutton" (click)="goBack()">Retour</button>

<div *ngIf="champion"  class="container">
  <div class="left" >
    <div *ngIf="champion && stats" class="card">
      <img class="card-img-top" [src]="champion.imageFullname|images" alt="Photo du champion">
      <div class="card-body">
        <h2 class="card-title">{{ champion.name }}</h2>
        <h3 class="card-subtitle mb-2 text-muted">{{ champion.title }}</h3>
        <p class="card-text">Vie: {{ stats.hp }} <span class="orange-text">(+{{ stats.hpperlevel }})</span></p>
        <p class="card-text">Défense: {{ stats.armor }} <span class="orange-text">(+{{ stats.armorperlevel }})</span></p>
        <p class="card-text">Magie: {{ stats.mp }} <span class="orange-text">(+{{ stats.mpperlevel }})</span></p>
        <p class="card-text">Attaque: {{ stats.attackdamage }} <span class="orange-text">(+{{ stats.attackdamageperlevel }})</span></p>
        <p class="card-text">Vitesse d'attaque: {{ stats.attackspeed }} <span class="orange-text">(+{{ stats.attackspeedperlevel }})</span></p>
        <p class="card-text">Critique: {{ stats.crit }} <span class="orange-text">(+{{ stats.critperlevel }})</span></p>
        <p class="card-text">Régénération de HP: {{ stats.hpregen }} <span class="orange-text">(+{{ stats.hpregenperlevel }})</span></p>
        <p class="card-text">Régénération de mana: {{ stats.mpregen }} <span class="orange-text">(+{{ stats.mpregenperlevel }})</span></p>
        <p class="card-text">Portée d'attaque: {{ stats.attackrange }}</p>
        <p class="card-text">Vitesse de mouvement: {{ stats.movespeed }}</p>
      </div>
    </div>
     </div>
  
  <div class="right">
    <app-spells [champion]="champion"></app-spells>
  </div>
</div>